<div class="h100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">

    <div class="centered">
        <div fxLayout="row" fxLayoutAlign="center center" style="color: linear-gradient(45deg, #238997, #131c80);text-align: center;">
            <h1>Welcome To </h1>

        </div>
        <div fxLayout="row" fxLayoutAlign="center center" style="text-align: center;">
            <h2 style="color: linear-gradient(45deg, #238997, #131c80);"> DecentralVote.</h2>
        </div>
    </div>
</div>