<div class="h100 simple-background" fxLayout="row">
    <div style="padding: 10px;" fxFlex fxLayout="column" fxLayoutGap="5px">
        <div>
            <p-card>
                <ng-Template>
                    <div fxLayout="row" fxLayoutGap="5px">
                        <span class="p-float-label w-full">
                            <input class="w-full" pInputText id="party_name" />
                            <label htmlFor="party_name">Party Name</label>
                        </span>
                        <span class="p-float-label w-full">
                            <input class="w-full" pInputText id="party_status" />
                            <label htmlFor="party_status">Party Status</label>
                        </span>
                        <p-button [style]="{'width': 'max-content'}" label="Apply Filters"
                            styleClass="p-button-raised"></p-button>
                        <p-button [style]="{'width': 'max-content'}" (onClick)="visibleDialog = !visibleDialog"
                            label="Add New Party" icon="pi pi-plus"></p-button>
                    </div>
                </ng-Template>
            </p-card>
        </div>
        <div fxFlex="90%">
            <p-card [style]="{'height': '100%'}">
                <ng-Template>
                    <div>
                        <p-table [value]="allParties" [tableStyle]="{ 'min-width': '50rem' }">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Party Name</th>
                                    <th>Total Candidates</th>
                                    <th>Created Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-party>
                                <tr>
                                    <td>{{ party.name }}</td>
                                    <td>{{ party.candidates }}</td>
                                    <td>{{ getCreatedAt(party.createdAt) }}</td>
                                    <td>{{ getStatus(party.is_active) }}</td>
                                    <td>
                                        <p-button (onClick)="editParty(party)" icon="fa-solid fa-pen-to-square"
                                            styleClass="p-button-rounded p-button-text"></p-button>
                                        <p-button (onClick)="deleteParty(party._id)" icon="fa-solid fa-trash-can"
                                            styleClass="p-button-rounded p-button-text" />
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </ng-Template>
            </p-card>
        </div>
    </div>
</div>
<p-dialog header="Create New Constituency" [modal]="true" [(visible)]="visibleDialog" [style]="{ width: '50vw' }" (onHide)="editData = null">
    <app-add-party *ngIf="visibleDialog" [partyData]="editData" (partyAdded)="partyAdded($event)"></app-add-party>
</p-dialog>
<p-toast position="bottom-right" key="br"></p-toast>