


#partImgUpload{
    display: none
}

.profilechoose {
    height: 250px;
    object-fit: scale-down;
}
.rounded {
    border-radius: 0.25rem!important;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
}
:host() ::ng-deep .p-dropdown {
    width: 100% !important; 
}