p-card img {
  width: 350px;
  margin-top: 2rem;
}
p-card {
  margin-bottom: 0px;
  text-align: center;
}
:host() ::ng-deep .p-password {
  width: 100% !important;
}
:host() ::ng-deep .p-inputtext {
  width: 100% !important;
}
.p-inputtext {
  width: 100% !important;
}